<div class="jumbotron text-center">
    <h1>Willkommen To Egyra</h1>
    <h3>Wo Einkaufen zu dir kommt !!</h3>
</div>
<div class = "row">
    <div class = "col-md-6">
        <div class = "well">
           <h2> Basic Membership</h2>
           <h4>Sign Up for free and get basic access to the community.</h4>
           </br>
           <%= link_to "Sign Up free", new_user_registration_path, class:'btn btn-primary btn-lg btn-block' %>
        </div>
        
    </div>
    
    <div class = "col-md-6">
        
        <div class = "well">
            <h2>Basic Membership</h2>
            <h4>Sign Up for the pro account for 10$/month and get access to the community with full detailed information !!!</h4>
            <%= link_to "Sign Up free", new_user_registration_path, class:'btn btn-success btn-lg btn-block' %>
        </div>
        
    </div>
</div>